.dropdown {
  position: relative;
  display: inline-block;
  cursor:pointer !important;
}

.dropdown-content {
  display: none;
  /* cursor: text; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4% 7%;
  margin-left: auto;
  cursor: pointer;
  z-index: 10;
  font-size: medium;
}
.dropdown-content2 {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4% 7%;
  margin-left: auto;
  z-index: 10;
  font-size: 16px;
}
.dropdown-content3 {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4% 7%;
  margin-left: -107%;
  z-index: 10;
  font-size: 16px;
}
.dropdown-content4 {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4% 7%;
  margin-left: 5%;
  z-index: 10;
  font-size: 16px;
}
.dropdown-content5 {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4% 7%;
  margin-left: -100%;
  /* z-index: 10; */
  font-size: 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown:hover .dropdown-content3 {
  display: block;
}
.dropdown:hover .dropdown-content4 {
  display: block;
}
.dropdown:hover .dropdown-content5 {
  display: block;
}
 .left-margin{
    margin-left: 10rem;
  }

  .image-and-text-container {
    display: flex;
    align-items: center;
  }
.selected{
  color:  red;
  }
  .custom-image {
    width: 150px;
    height: 135px;
    margin-left: 33%; 
    margin-top: 5rem;
  }
  
  .chatbot-heading {
    /* text-align: ; */
    font-family: 'YourFont', Copperplate; 
    font-size: 2rem;
    margin-top: 9rem;
    margin-left: 2%;
  
    color: rgb(0, 91, 44); 
  }

/* .recipe-logo{
    float: left;
    height: 1%;
    width: 1%;
    margin-top: 0.3rem;
} */
.rounded-button {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; /* No border */
  border-radius: 20px; 
  cursor: pointer; 
  font-size: 25px;
  
  transition: background-color 0.2s; 
 
  margin-top: 4rem;
  margin-left: 20%;
}
.rounded-button1{
  background-color: #007bff;
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  font-size: 25px;
  
  transition: background-color 0.2s;
  
  margin-bottom: 3rem;
}
.rounded-button2{
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  font-size: 25px;
  
  transition: background-color 0.2s; /* Smooth transition */
  
}


  /* .buttonstyle{
    background-color: #2e68dc;
    border : rgb(63, 199, 174);
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem;
    border-radius: 13%;
  } */
  .rounded-button1{
    margin-top :  1rem;
    margin-left:  5%;
  }
  .rounded-button{
    margin-top :  1rem;
    margin-left:  32%;

  }
  .rounded-button2{
    margin-top: 1rem;
    margin-left: 5%;
  }


  .rounded-button:hover {
    background-color: rgb(15, 187, 17); 
  }

  .rounded-button1:hover {
    background-color: rgb(15, 187, 17); 
  }
  .rounded-button2:hover {
    background-color:  rgb(15, 187, 17); 
  }
  .buttonstyle:hover{
    background-color: rgb(15, 187, 17);
  }
  /* .textareastyle{
    margin-top: 3rem ;
    margin-left: 8rem;
    text-align: center;
    font-size: 2rem;
    background-color: #F5E9CF;
    width: 80%;
    height:20rem;
  } */

  .textareastyle{
    margin-left: 8rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid #000; /* Add a plain black border */
    width: 80%;
    height : 2 rem;
    resize:none ;
    padding: 0.5rem;
    border-radius:25px; /* Add rounded corners */
    /* overflow: hidden; */
  }

  .helpStyle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .helpStyle a:hover .fa{
    animation: spin 0.3s linear 1 forwards;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg);
    }
  }
  @media(max-width : 1255px ) {
    html{
      font-size: 90%;
    }
    .ask{
      font-size: 37px;
    }
    #a1{
      font-size: 37px;
      margin-left: 0%;
      margin-top: 3%;
    }
    #a2{
      font-size: 37px;
      margin-left: 3%;
    }
    #a3{
      font-size: 37px;
     
    }
    #a4{
      font-size: 37px;
    }
    #a5{
      font-size: 37px;
    }
    .custom-image{
      margin-left: 20%;
      height: 245px;
      width: 210px;
    }
    .chatbot-heading{
      font-size: 45px;
    }
    .textareastyle{
      height: 56px;
      border-width: 2px;
      font-size: 32px;
    }
    .rounded-button{
      margin-left: 19%;
      /* font-size: 40px; */
      /* border-radius: 30px; */
      margin-top: 4%;
      margin-bottom: 18%;
    }
    .rounded-button1{
      /* font-size: 40px; */
      border-radius: 30px;
      margin-top: 4%;
      margin-bottom: 18%;
    }
    .rounded-button2{
      /* font-size: 40px; */
      border-radius: 30px;
      margin-top: 4%;
      margin-bottom: 18%;
    }
  }

  @media (max-width : 1024px) and (max-height : 1366px){
    #a1{
      margin-bottom: 2%;
    }
     .rounded-button{
      font-size: 40px;
      border-radius: 30px;
     }
     .rounded-button1{
      font-size: 35px;
     }
     .rounded-button2{
      font-size: 35px;
     }
  }

  @media(max-width : 992px){
    html{
      font-size: 65%;
    }

    .textareastyle{
      height:50px;
    }
  }
  @media(max-width : 820px){
    html{
      font-size: 55%;
    }
    .ask{
      font-size: 28px;
      margin-left: 0%;
    }
    #a1{
      font-size: 28px;
      margin-top: 2%;
      margin-left:0%;
    }
    #a2{
      font-size: 28px;
      margin-top: 2%;
      margin-left: 3%;
    }
    #a3{
      font-size: 28px;
      margin-top: 2%;
    }
    #a4{
      font-size: 28px;
      margin-left: 3%;
      margin-top: 2%;
    }
    #a5{
      font-size: 28px;
      margin-left: 3%;
      margin-top: 2%;
    }
    .custom-image{
      margin-left: 18% ;
      height: 202px;
      width: 190px;
    }
    .chatbot-heading{
      font-size: 38px;
    }
    .textareastyle{
      font-size: 25px;
      height: 54px;
    }
    .rounded-button{
      margin-left: 23%;
    }
    .rounded-button1{
      margin-top: 3%;
      margin-bottom: 21%;
    }
  }
  
  @media(max-width : 768px){
    html{
      font-size: 50%;
    }
    #a1{
      margin-top: 2%;
      font-size: 24px;
    }
    #a2{
      font-size: 24px;
      margin-left: 3%;
    }
    #a3{
      font-size: 24px;
      margin-left: 3%;
    }
    #a4{
      font-size: 24px;
      margin-top:3% ;
      margin-left: 3%;
    }
    #a5{
      font-size: 24px;
      margin-left: 3%;
    }

    .custom-image {
      width: 126px;
      height: 125px;
      margin-left: 19%; 
      margin-top: 5rem;
    }
    .chatbot-heading {
      /* text-align: ; */
      font-family: 'YourFont', Copperplate; 
      font-size: 4.1rem;
      margin-top: 9rem;
      margin-left: 2%;
    
      color: rgb(0, 91, 44); 
    }
    .textareastyle{
      height: 45px;
      font-size: 3.5rem;
    }
    .rounded-button{
      margin-left: 18%;
    }
    .rounded-button2{
      margin-bottom:13%;
    }
  }
  @media(max-width : 620px){/**/
    html{
      font-size: 45%;
    }
    .textareastyle{
      height:60rem;
    }
  }
  @media(max-width : 576px){
    html{
      font-size: 40%;
    }
    .helpStyle{
      font-size: 372%;
    }
 */
    .centerdiv{
      margin-top: 6%;
    }
    .dropdown{
      display: inline-block;
      margin-bottom: 2%;
    }
    .dropdown-content{
      min-width: 112%;
      margin-left: 0;
    }
    .dropdown-content2{
      min-width: 206%;
      margin-left: -90%;
    }
    .dropdown-content3{
      min-width: 85%;
      margin-left: -8%;
    }
    .dropdown-content4{
      min-width: 206%;
      margin-left: -90%;
    }
    
    .dropdown-content5{
      min-width: 249%;
      margin-left: -94%;
    }
    .textareastyle{
      height: 45px;
      font-size: 3.5rem;
    }
    .custom-image {
      width: 120px;
      height: 115px;
      margin-left: 16%; 
      margin-top: 5rem;
    }
    .chatbot-heading {

      font-family: 'YourFont', Copperplate; 
      font-size: 4.1rem;
      margin-top: 9rem;
      margin-left: 2%;
    
      color: rgb(0, 91, 44); 
    }
    .rounded-button {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 18px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 13%;
    }
    .rounded-button1 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 18px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 8%;
    }
    .rounded-button2 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 18px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 8%;
    }

    #a1{
      margin-top: 6%;
      margin-right: 5%;
      
    }
    #a2{
      margin-top: 6%;
      margin-right: 5%;
      
    }

    #a3{
      display: block;
      margin-left: 5%;
      margin-top: 0%;
      margin-bottom: 7%;
    }
    #a4{
      margin-top: 0%;
      margin-left: -12%;
      margin-right: 7%;
    }
    .tophr{
      margin-top: 4.5% !important;
    }
    .ask{
      display: block;
      font-weight: 600;
    }
  }
  @media(max-width : 480px){
    html{
      font-size: 50%;
    }
    .ask{
      font-size: 4.5rem; 
    }
    #a2{
      margin-top: 0;
      margin-bottom: 0%;
      margin-left: 0%;
      font-size: 4.4rem;
    }
    #a3{
      margin-top: 0%;
      margin-bottom: 1%;
      margin-left: 0%;
      font-size: 4.5rem;
    }
    #a4{
      margin-top: 0;
      margin-bottom:1%;
      margin-left: 0%;
      font-size: 4.5rem;
    }
    #a5{
      font-size: 4.5rem;
      margin-bottom: 1%;
      margin-left: 0%;
    }
    .dropdown-content{
      min-width: 112%;
      margin-left: 0%;
    }
    .dropdown-content2{
      min-width: 206%;
      margin-left: -90%;
    }
    .dropdown-content3{
      min-width: 85%;
      margin-left: -8%;
    }
    .dropdown-content4{
      min-width: 206%;
      margin-left: -90%;
    }
    
    .dropdown-content5{
      min-width: 249%;
      margin-left: -94%;
    }

    .custom-image {
      width: 110px;
      height: 111px;
      margin-left: 14%; 
      margin-top: 5rem;
    }
    .chatbot-heading {
      /* text-align: ; */
      font-family: 'YourFont', Copperplate; 
      font-size: 5rem;
      margin-top: 9rem;
      margin-left: 2%;
    
      color: rgb(0, 91, 44); 
    }

    .textareastyle{
      height: 10rem;
      font-size: 4.5rem;
    }
    .helpStyle{
      font-size: 420%;
    }
    .rounded-button {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 13px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 10%;
    }
    .rounded-button1 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 13px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 10%;
    }
    .rounded-button2 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 13px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 10%;
    }

  }
  @media(max-width : 408px){
    .ask{
      font-size: 4.1rem;
    }
    #a1{
      font-size: 4.1rem;
      margin-bottom: 0%;
    }
    #a2{
      font-size: 4.1rem;
      margin-bottom: 0%;
    }
    #a3{
      margin-top: 0%;
      margin-bottom: 1%;
    }
    #a5{
      margin-left: 0%;
      margin-right: 4%;
    }

  }
  @media(max-width : 380px){
    html{
      font-size: 25%;
    }
    .buttonmargin1{
      margin-top: 10rem;
    }
    .ask{
      font-size: 4.5rem;
    }
    #a1{
      font-size: 4rem;
    }
    #a2{
      font-size: 4rem;
    }
    #a3{
      margin-top: 2%;
      margin-bottom: 2%;
      font-size: 4rem;
    }
    #a4{
      font-size: 4rem;
      margin-left: 0%;
    }
    #a5{
      font-size: 4rem;
      margin-left: 0%;
    }

    .custom-image {
      width: 100px;
      height: 95px;
      margin-left: 11%; 
      margin-top: 5rem;
    }
    .chatbot-heading {
      /* text-align: ; */
      font-family: 'YourFont', Copperplate; 
      font-size: 5rem;
      margin-top: 9rem;
      margin-left: 2%;
    
      color: rgb(0, 91, 44); 
    }

    .textareastyle{
      height: 9rem;
      font-size: 4rem;
    }
    .helpStyle{
      font-size: 420%;
    }
    .rounded-button {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 11px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 10%;
    }
    .rounded-button1 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 11px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 7%;
    }
    .rounded-button2 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 11px;
      
      transition: background-color 0.2s; 
  
      margin-top: 4rem;
      margin-left: 7%;
    }
  }
  


  @media(max-width : 280px){
    html{
      font-size: 20%;
    }

    .custom-image {
      width: 100px;
      height: 115px;
      margin-left: 16%; 
      margin-top: 5rem;
    }
    .chatbot-heading {
      /* text-align: ; */
      font-family: 'YourFont', Copperplate; 
      font-size: 5rem;
      margin-top: 9rem;
      margin-left: 2%;
    
      color: rgb(0, 91, 44); 
    }

    .textareastyle{
      height: 10rem;
      font-size: 4.5rem;
    }
    .helpStyle{
      font-size: 420%;
    }
    .rounded-button {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 9px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 10%;
    }
    .rounded-button1 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 9px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 3%;
    }
    .rounded-button2 {
      padding: 10px 20px; 
      border: none; /* No border */
      border-radius: 20px; 
      cursor: pointer; 
      font-size: 9px;
      
      transition: background-color 0.2s; 
     
      margin-top: 4rem;
      margin-left: 3%;
    }
    
  }