.textareastyleRL{
  margin-top: 3rem;
  margin-left: 58rem;
  text-align: center;
  font-size: 2 rem;
  background-color: transparent;
  border: 1px solid #000; /* Add a plain black border */
  width: 30%;
  height : 1.8rem;
  resize:none ;
  padding: 0.5rem;
  border-radius:39px;
}

.rounded-buttonrl{
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 25px; /* Border radius to make corners rounded */
  cursor: pointer; /* Change cursor to a hand when hovering */
  font-size: 12px;
  /* Hover state */
  transition: background-color 0.5s;
  margin-top :  1rem;
  margin-left:  5%;

}
.rounded-buttonrl1{
  background-color: #007bff; /* Background color of the button */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 25px; /* Border radius to make corners rounded */
  cursor: pointer; /* Change cursor to a hand when hovering */
  font-size: 12px;
  /* Hover state */
  transition: background-color 0.5s; 
  margin-top :  1rem;
  margin-left:  15%;
}
.rounded-buttonrl2{
  background-color: #007bff; /* Background color of the button */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 25px; /* Border radius to make corners rounded */
  cursor: pointer; /* Change cursor to a hand when hovering */
  font-size: 12px;
  /* Hover state */
  transition: background-color 0.5s; 
  margin-top :  1rem;
  margin-left:  5%;

}
.rounded-buttonrl{
  margin-top :  1rem;
  margin-left:  65%;

}
.rounded-buttonrl1{
  margin-top :  1rem;
  margin-left:  2%;
}

.rounded-buttonrl2{
  margin-top :  1rem;
  margin-left:  2%; 

} 

.marginForSpinner{
  left: 47%; 
  position: absolute; 
  text-align: center; 
  top: 37%; 
}
.footer-in-recipeList{
  position: absolute !important;
}

@media(max-width : 1120px){
    .marginForSpinner{
        left: 46%;
    }
  }
@media(max-width : 820px){
    .marginForSpinner{
        left: 44%;
    }
}
@media(max-width : 600px){
  .marginForSpinner{
      left: 43%;
  }
}
@media(max-width : 480px){
  .marginForSpinner{
      left: 42%;
  }
}
@media(max-width : 440px){
  .marginForSpinner{
      left: 41%;
  }
}
@media(max-width : 380px){
  .marginForSpinner{
      left: 40%;
  }
}
@media(max-width : 992px){
    html{
      font-size: 65%;
    }
  }
  @media(max-width : 820px){
    html{
      font-size: 55%;
    }
  }
  
  @media(max-width : 768px){
    html{
      font-size: 50%;
    }
  }
  @media(max-width : 620px){
    html{
      font-size: 45%;
    }

  }
  @media(max-width : 576px){
    html{
      font-size: 40%;
    }
  }
  @media(max-width : 480px){
    html{
      font-size: 30%;
    }
  }
  @media(max-width : 380px){
    html{
      font-size: 25%;
    }
   

   
  }
  @media(max-width : 280px){
    html{
      font-size: 20%;
    }
    
  }